.bloc {
  height: 50%;
  width: 90%;
  margin: 0 5%;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  background-color: white;
  box-shadow: 6px 12px 14px 1px rgba(0, 0, 0, 0.25);

  .top {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

    .titre {
      width: 70%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .musique {
      width: 30%;
      height: 60%;
      display: flex;
      justify-content: center;
      align-items: center;

      p{
        margin-right: 3%;
        margin-top : 2%;
      }

      
      button {
        height: 50px;
        width: 50px;
        background: none;
        color: white;
        border: none;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        background-color: #d61a20;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;


        &:hover{
          transform : scale(1.1);
          transition: 0.3s;

        }

        img{
          height: 70%;
          display: flex;
          align-items: center;
        }
      }
    }
  }

  .contenu {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    


    button {
      background: none;
      color: inherit;
      border: none;
      font: inherit;
      cursor: pointer;
      outline: inherit;

      &:hover{
        transform : scale(1.1);
        transition: 0.3s;

      }
    }
    .videos{
      height: 90%;
      width: 90%;
      display: grid;
      grid-template-columns : 25% 25% 25% 25%;
      grid-template-rows : 100%;


    .video {
      width: 90%;
      height: 100%;
      display: flex;
      flex-direction: column;
      margin-right: 10%;

 

      &:hover{
        transform : scale(1.1);
        transition: 0.3s;

        filter: drop-shadow(6px 12px 14px rgba(0, 0, 0, 0.25) );

      }

      .img {
        width: 100%;
        height: 80%;

        img {
          height: 100%;
          width: 100%;
          border-radius: 20px 20px 0 0;
          object-fit: cover;
        }
      }
      .nom {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20%;
        width: 100%;
        background-color: #c4c4c4;
        border-radius: 0 0 20px 20px;


        div{
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    }
  }
}
