<div class="bloc">
  <div class="contenu">
    <h1>Trier :</h1>
    <div class="trier">
      <div>
        <input type="checkbox" value="images" class="images" id="images" />
        <label for="images">Images</label>
      </div>
      <div>
        <input type="checkbox" value="vidéos" class="vidéos" id="vidéos" />
        <label for="vidéos">Vidéos</label>
      </div>
      <div>
        <input type="checkbox" value="bras" class="bras" id="bras"/>
        <label for="bras">Bras</label>
      </div>
      <div>
        <input type="checkbox" value="jambes" class="jambes" id="jambes" />
        <label for="jambes">Jambes</label>
      </div>
      <div>
        <input type="checkbox" value="dos" class="dos" id="dos" />
        <label for="dos">Dos</label>
      </div>
      <div>
        <input type="checkbox" value="hanches" class="hanches" id="hanches" />
        <label for="hanches">Hanches</label>
      </div>
      <div>
        <input type="checkbox" value="tete" class="tete" id="tete" />
        <label for="tete">Tête</label>
      </div>

      <div>
        <button type="submit" class="search"></button>
      </div>
    </div>
  </div>
</div>
