

.background{
    background-color: #E2E2E2;
    border-radius: 25px;
    margin: 2%;
    width: 85vw;
    height: 95%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);

    align-items: center;


    .head{
        width: 100%;
        height: 15%;
        display: flex;
        align-items: center;

        h1{
            text-align: right;
            width: 50%;
        }

        .div_imghead{
            width: 50%;
            display: flex;
            justify-content: right;

            a{
                margin-right: 3%;
            }

        }
    }

    .container{
      display: flex;
      flex-direction: column;
      gap: 1vw;
      width: 100%;
    }
}

