

.background{
  background-color: #E2E2E2;
  border-radius: 25px;
  margin: 2%;
  width: 85vw;
  height: 95%;

  .head{
      width: 100%;
      height: 10%;
      display: flex;
      align-items: center;
      text-align: center;

      h1{
          text-align: right;
          width: 50%;
      }

      .div_imghead{
          width: 50%;
          display: flex;
          justify-content: right;

          a{
              margin-right: 3%;
          }

      }
  }


}
