.center {
  width: 600px;
  margin: auto;

      section a {
        background: #fff;
        color: #000;
        text-decoration: none;
        text-align: center;
        padding: 10px;
        display: block;
        font-size: 1.3em;
        letter-spacing: 3px;
        overflow: hidden;
        border-bottom: 3px solid #aaa69d;
}
section p {
  padding: 10px;
  overflow: hidden;
  height: 0;
  opacity: 0;
  background: #27ae60;
  color: #fff;
  overflow: hidden;
  letter-spacing: 2px;
  transition: 2s;
}
section:target p {
  height: 10em;
  opacity: 1;
  padding: 20px;
}
}
