.bloc {
    height: 90%;
    width: 80%;
    margin: 3% 0 0 5%;
    border-radius: 25px;
    background-color: white;
    box-shadow: 6px 12px 14px 1px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;

    .contenu{
        height: 90%;
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;


        .infos{
          display: flex;
          flex-direction: column;
          gap: 1vw;
          width: 100%;
          height: 50%;
          font-size: 1.3vw;

            div{
                padding: 2%;

                  img{
                    background-color: yellow;
                    border-radius: 100%;
                  }

              }

          }

        }

      }



