<section >
    <article class="container">
        <li class="has-sub">
            <div class="bgred">
            <label class="label-bloc-accordeon" for="faq">
                <span>FAQ</span>
            </label>
            </div>
            <input id="faq" type="checkbox" name="faq" />
            <ul class="sub">
                <div> Question numero 1 </div>
                <div> Question numero 2 </div>
            </ul>
        </li>
        <li class="has-sub">
           <div class="bgred">
            <label class="label-bloc-accordeon" for="contactkine">
                <span>Contact kinésithérapeute</span>
            </label>
            </div>
            <input id="contactkine" type="checkbox" name="contactkine" />
            <ul class="sub">
                <div class="block" >
                  <div class="blockparam">
                    <span> Nom,Prénom du Kiné</span>
                    <span>Email </span>
                    <span>Téléphone du Kiné </span>
                    <span>Adresse du Kiné </span>
                    <input type="text" >
                  </div>
                  <div class="blockparam">
                    <span>Trouvez Kinésithérapeute</span>
                    <span>Lien vers google map</span>
                  </div>
                </div>
            </ul>
        </li>
        <li class="has-sub">
        <div class="bgred">
            <label class="label-bloc-accordeon" for="aide">
                <span>Aides et associations</span>
            </label>
             </div>
            <input id="aide" type="checkbox" name="aide" />
            <ul class="sub">
                <div>Lien vers les sites des aides et asso</div>
                <div>Lien vers des sites des asso</div>
            </ul>
        </li>
        <li class="has-sub">
          <div class="bgred">
            <label class="label-bloc-accordeon" for="contact">
                <span>Contactez nous</span>
            </label>
            </div>
            <input id="contact" type="checkbox" name="contact" />
            <ul class="sub">
                <div>Raison sociale</div>
                <div>Adresse postale</div>
                <div>téléphone</div>
                <div>email</div>
            </ul>
        </li>
    </article>
</section>
